<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion scrollbar" id="accordionSidebar">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0 close-button" id="sidebarToggle"></button>
    </div>

    <hr class="sidebar-divider my-0" />

    <li class="nav-item">
        <a class="nav-link" asp-page="/Dashboard/Main">
            <img class="dashboard_image" src="~/assets/img/Dashboard1.svg" alt="triangle with equal sides">

            <span>Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider" />

    @*<li class="nav-item">
        <a href="#" class="nav-link active" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <img class="dashboard_image" src="~/assets/img/Enterprise.svg" alt="triangle with equal sides">
            <span>Alert Details</span>
        </a>
        <div id="collapseTwo" class="active new-menu-active" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="active collapse-item" asp-page="/Dashboard/SubPage1">Alert Sub Menu One</a>
                <a class="collapse-item" asp-page="/Dashboard/SubPage2">Alert Sub Menu Two</a>
                <a class="collapse-item" asp-page="/Dashboard/SubPage3">Alert Sub Menu Three</a>
                <a class="collapse-item" asp-page="/Dashboard/SubPage4">Alert Sub Menu Four</a>
            </div>
        </div>
    </li>*@
    <hr class="sidebar-divider" />
</ul>