<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <modules>
    <module assemblyFile="QL.VideoBrowser.Controllers.VideoServersManagement.dll" moduleName="MultiserverController" moduleType="QL.VideoBrowser.Controllers.VideoServersManagement.VideoServersControllerModule, QL.VideoBrowser.Controllers.VideoServersManagement, Version=1.1.0.0, Culture=neutral, PublicKeyToken=3ae906c5f14d2935">
      <dependencies>
        <dependency moduleName="ServerController"/>
        <dependency moduleName="ServerControllerFactory"/>
      </dependencies>
    </module>
    <module assemblyFile="QL.Communication.Server.dll" moduleName="ServerController" moduleType="QL.Communication.Server.ServerController, QL.Communication.Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3ae906c5f14d2935">
      <dependencies>
        <dependency moduleName="DefaultMessageDispatcherFactory"/>
        <dependency moduleName="TcpConnection"/>
        <dependency moduleName="PropertyBagBinarySerializer"/>
        <dependency moduleName="MemoryPropertyBagFactory"/>
        <dependency moduleName="NtlmAuthenticatorFactory"/>
      </dependencies>
    </module>
    <module assemblyFile="QL.VideoBrowser.Controllers.VideoServersManagement.dll" moduleName="ServerControllerFactory" moduleType="QL.VideoBrowser.Controllers.VideoServersManagement.ServerControllerFactoryModule, QL.VideoBrowser.Controllers.VideoServersManagement, Version=1.1.0.0, Culture=neutral, PublicKeyToken=3ae906c5f14d2935">
      <dependencies>
        <dependency moduleName="ServerController"/>
      </dependencies>
    </module>
    <module assemblyFile="QL.Communication.Server.dll" moduleName="DefaultMessageDispatcherFactory" moduleType="QL.Communication.Server.DefaultMessageDispatcherFactory, QL.Communication.Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3ae906c5f14d2935"/>
    <module assemblyFile="QL.Communication.Network.dll" moduleName="TcpConnection" moduleType="QL.Communication.Network.TcpConnection, QL.Communication.Network, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3ae906c5f14d2935"/>
    <module assemblyFile="QL.Communication.Messaging.dll" moduleName="MemoryPropertyBagFactory" moduleType="QL.Communication.Messaging.MemoryPropertyBagFactory, QL.Communication.Messaging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3ae906c5f14d2935"/>
    <module assemblyFile="QL.Communication.Messaging.dll" moduleName="PropertyBagBinarySerializer" moduleType="QL.Communication.Messaging.PropertyBagBinarySerializer, QL.Communication.Messaging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3ae906c5f14d2935"/>
    <module assemblyFile="QL.Communication.Authentication.dll" moduleName="NtlmAuthenticatorFactory" moduleType="QL.Communication.Authentication.NtlmAuthenticatorFactory, QL.Communication.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3ae906c5f14d2935"/>
  </modules>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add
        name="FlatFile TraceListener"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="MediaExport.log"
        footer=""
        formatter="Text Formatter"
        header=""
        rollFileExistsBehavior="Increment"
        rollInterval="Day"
        timeStampPattern="yyyyMMdd-HHmmss" />
    </listeners>
    <formatters>
      <add
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="{severity}{tab}{timestamp(local:dd/MM/yyyy [HH:mm:ss:FFFF] zzz)}{tab}{title}{tab}{message}{tab}
{dictionary([P]: {key}{tab}= {value}
)}"
        name="Text Formatter" />
    </formatters>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings"/>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="ServerId" value="{8a80b417-8ad3-4e2e-be93-919692d55316}"/>
    <add key="ServerAddress" value="192.168.0.70"/>
    <!--<add key="ServerAddress" value="10.0.10.18"/>-->
    <add key="ServerPort" value="1518"/>
    <add key="UserName" value="DellDesktop3"/>
    <add key="Password" value="12345"/>
    <!--<add key="UserName" value=""/>
    <add key="Password" value=""/>-->
    <add key="CameraName" value="Camera-71"/>
    <!--<add key="CameraName" value="Axis M1011-W 7"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
